

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center;">
                    <img alt="image" class="" style="width:100px; height:100px; " src="../../admin/assets/img/hfj.png" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">  Admin</span>

                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="dashboard-nav">
                <a href="/admin/dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li id="user-nav">
                <a href="/admin/user"><i class="fa fa-users"></i> <span class="nav-label">User</span></a>
            </li>
            <li id="specialUser-nav">
                <a href="/admin/specialUserListing"><i class="fa fa-user"></i> <span class="nav-label"> Special User</span></a>
            </li>
            <li id="business-nav">
                <a href="/admin/business"><i class="fa fa-user"></i> <span class="nav-label">Business</span></a>
            </li>
            <li id="category-nav">
                <a href="/admin/category"><i class="fa fa-bars"></i> <span class="nav-label">Category</span></a>
            </li>
            <li id="city-nav">
                <a href="/admin/city"><i class="fa fa-map-marker"></i> <span class="nav-label">City & Area</span></a>
            </li>
            <li id="banner-nav">
                <a href="/admin/banner"><i class="fa fa-ticket"></i> <span class="nav-label">Banners</span></a>
            </li>
            <li id="cuisine-nav">
                <a href="/admin/cuisineListing"><i class="fa fa-bars"></i> <span class="nav-label">Cuisines</span></a>
            </li>
            <li id="sendPromotionList-nav">
                <a href="/admin/sendPromotionList"><i class="fa fa-life-ring"></i> <span class="nav-label">Send
                        Promotions</span></a>
            </li>
            <li id="contactrequestListing-nav">
                <a href="/admin/contactrequestListing"><i class="fa fa-comments"></i> <span class="nav-label">Contact
                        Request</span></a>
            </li>
            <li id="reviewListing-nav">
                <a href="/admin/reviewListing"><i class="fa fa-bell"></i> <span class="nav-label"> Reviews</span></a>
            </li>
            <li id="redFlagreviewListing-nav">
                <a href="/admin/redflagReviewListing"><i class="fa fa-bell" style="color:red"></i> <span class="nav-label">Red Flag
                        Reviews</span></a>
            </li>
            <li id="transactions-nav">
                <a href="/admin/transactionsListing"><i class="fa fa-th-large"></i> <span class="nav-label">Transactions
                        </span></a>
            </li><li id="customerredeemListing-nav">
                <a href="/admin/customerredeemListing"><i class="fa fa-th-large"></i> <span class="nav-label">Customers
                        Redeem Request</span></a>
            </li>
            
            <li id="reportAndissue-nav">
                <a href="/admin/reportAndissue"><i class="fa fa-comments"></i> <span class="nav-label">Report And
                        Issue</span></a>
            </li>
            <li id="FAQ-nav">
                <a href="/admin/FAQ"><i class="fa fa-info-circle"></i> <span class="nav-label">FAQs</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                <ul class="nav nav-second-level">
                    <li id="changepassword-nav"><a href="changepassword">Change Password</a></li>
                    <li id="systemsetting-nav"><a href="systemsetting">System Settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

































<!-- <input type="checkbox" id="nav-toggle" />
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span><img src=".." /></span><span>AI Chat Bot</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/admin/dashboard" class="active">
                    <span><img src=".." /></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src=".." /></span>
                    <span>Reviews</span>
                </a>
            </li>
            <li>
                <a href="/admin/FAQ">
                    <span><img src=".." /></span>
                    <span>FAQs</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src=".." /></span>
                    <span>Notification</span>
                </a>
            </li>
            <li>
                <a href="/admin/user">
                    <span><img src=".." /></span>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                <ul class="nav nav-second-level">
                    <li id="app-nav"><a href="/admin/appversion">App Version</a></li>
                    <li id="changepassword-nav"><a href="/admin/changepassword">Change Password</a></li>
                </ul>
            </li>
            <li>
                <a onclick="logout();">Logout <img src="../../../admin/assets/img/logout 1.png"> </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <i class="fa fa-bars"></i>
            </label>
        </h2>
    </header>
    <main>
        <h1>content Section</h1>
    </main>
</div> -->

<!-- <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center;">
                    <img alt="image" class="" style="width: 125px;" src="../../admin/assets/img/" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"> Tecorb Admin</span>
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="dashboard-nav">
                <a href="/admin/dashboard"><i class="fa fa-tachometer"></i>
                    <span class="nav-label">Dashboard</span></a>
            </li>

            <li id="FAQ-nav">
                <a href="/admin/FAQ"><i class="fa fa-info-circle"></i>
                    <span class="nav-label">FAQs</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                <ul class="nav nav-second-level">
                    <li id="app-nav"><a href="/admin/adminsetting">App Version</a></li>
                    <li id="changepassword-nav">
                        <a href="/admin/changepassword">Change Password</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav> -->